<mat-toolbar class="project-header" color="primary">
  <span>{{title}}</span>
</mat-toolbar>
<mat-sidenav-container class="project-container">
  <mat-sidenav #sidenav mode="side" opened class="project-sidenav-content">
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive>{{link.label}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="project-footer"></mat-toolbar>