.project-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.project-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.project-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.project-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}